body {
  background: #232323;
}
#container {
  margin: 0 auto;
  max-width: 600px;
}
h1 {
  color: #fff;
  text-shadow: 0px 0px 4px #bbb;
}
.square {
  width: 30%;
  background: teal;
  padding-bottom: 30%;
  float: left;
  margin: 1.6%;
}
#stripe {
  color: #000;
  background: #fff;
  height: 30px;
  text-align: center;
}